@charset "UTF-8";

#main>#contents {
	background-color : white ;
	border: 1px solid #000;
	height: 400px;
	width: 700px;
	flex-wrap : wrap;
}
div#newGallay, #schedule{
		border: 1px solid #000;
		margin: 20px;
		background-color : white ;
		width: 350px;
}
 #picture, #QnA, #default{
 border: 1px solid #000;
		margin: 20px;
		background-color : white ;
		width: 220px;
 }
#QnA {
	position: static;
}